table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 55%;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:not(:first-child):hover {
    background-color: cornflowerblue;
}

#pagination button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}







