table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 55%;
}

th, td {
    padding: 10px;
    text-align: center;
}

#table tbody tr:hover {
    background-color: cornflowerblue;
}


#paginationButtons button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

button.active {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    cursor: default;
}








